/* This code affects img under the li element */
li img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.header {
  display: flex;
  list-style-type: none;
  align-items: center;
  font-family: arial,sans-serif;
  font-size: 13px;
  padding: 0 20px;
}

.headerli a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

.headerli a:hover {
  text-decoration: underline;
}

.container {
  text-align: center;
  margin: 100px;
}

.search-area {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  height: 44px;
  margin: 0 auto;
  margin-top: -77px;
  width: 480px;
  border-radius:50px;
  padding: 0 14px;
}

.search-area:hover {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.search {
  display: flex;
  width: 100%;
  align-items: center;
}

.search-img {
  display: flex;
  align-items: center;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
}

.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;
  border: 0px solid;
}

.footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 10px;
  background-color: #f2f2f2;
}

.hptl{
  margin-right: auto;
}

.hptl a{
  display: inline-block;
  padding-left: 15px;
  color: #000;
  opacity: 0.75;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 13px;
  text-align: center;
}

.footerli {
  float: left;
  display: inline-block;
}

.footerli a {
  display: block;
  color: #5f6368;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

.footerli a:hover {
  text-decoration: underline;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 14px;
}

.button-container button {
  color: #5f6368;
  border: 1px solid #f2f2f2;
  padding: 10px 16px;
  margin: 11px 4px;
  height: 36px;
}

.button-container button:hover {
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 24%), 0 2px 5px 0 rgb(0 0 0 / 19%);
}

.voice-icon{
    background: url(//web.archive.org/web/20191130234759im_/https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png) 0 0 no-repeat;
    height: 24px;
    width: 24px;
    background-size: 24px;
    vertical-align: middle;
}
